@model CIC_WEB.Service


@{
    ViewBag.Title = "ServicesDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="../../assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8">
                        <div class="hero-cap hero-cap2 pt-120">
                            <h2>Engineering techniques & implementation</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Services Details Start -->
    <div class="services-details-area">
        <div class="container">

           
            <div class="row">
                
                        <div class="col-12">
                            <div class="single-services section-padding2">
                                <div class="details-img mb-40">
                                    <img src="@Html.DisplayFor(model => model.Imgaes)" alt="" style="height:544px;width:1170px">     
                                    @*<img src="@Html.DisplayFor(modelItem => item.Imgaes)" alt="" style="height:544px;width:1170px">*@
                                </div>
                                <div class="details-caption">
                                    <p>
                                        @*@Html.DisplayFor(model => model.Noidung)*@
                                        @Html.Raw(HttpUtility.HtmlDecode(Model.Noidung))


</p>

                                    <h3>How can we help?</h3>
                                    <p>@Html.DisplayFor(model => model.HowCanWeHelp)
</p>
                                </div>
                            </div>
                        </div>
                
        </div>
        </div>
    </div>
    <!-- Services Details End -->
</main>


